# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Entornos virtuales locales
venv/
env/
.venv/

# Sistema Operativo
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos específicos del laboratorio
configs/